/*
HINT
For CSS stuff, make good use of the Chrome Developer Tools:
-- on the demo page, open up the inspector and poke around.
-- on your own page, use dev tools to add and modify styles directly in the browser.
*/


/*
TODO 4
add a selector for elements with class "item-watchlist"
give these elements a display property of inline-block
and then style them as shown in the example (padding, margin, background, etc)
*/


/*
TODO 5 
Make all elements have color: gray; by default
Hint: just apply the style using a parent selector, and then all 
descendent elements will automatically inherit the same styles
*/


#big-header {
	background: gray;
	color: white;
	text-align: center;
}

#section-browse {
	background: #eee;	
}

#section-browse li {
	margin-bottom: 40px;
	list-style: none;
}

section header {
	margin-bottom: 40px;
}

section, #big-header {
	padding: 20px;
}

ul {
	padding-left: 0px;
}

button, input[type="submit"] {
	border-width: 0px;
	/*
	TODO 7
	give these buttons some padding, and color them orange with white text
	*/
}

button:disabled {
	opacity: 0.5;
}
