/*
DONE
Style the page as shown in the example.

Make good use of the developer tools:
-- on the example page, open up the inspector and poke around
-- on your own page, use dev tools to add and modify styles directly in the browser

*/


/*
TODO 4 (DONE)
add a selector for elements with class "item-watchlist"
give these elements a display property of inline-block
style them as shown in the example
*/
.item-watchlist {
	display: inline-block;
	margin: 10px 10px 0px 0px;
	padding: 60px;
	background: orange;
	color: white;
}

/*
TODO 5 (DONE)
Make all elements have color: gray; by default
Hint: just apply the style using a parent selector, and all 
descendent elements will inherit the same styles
*/
body {
	color: gray;
}

#big-header {
	background: gray;
	color: white;
	text-align: center;
}

#section-browse {
	background: #eee;	
}

#section-browse li {
	margin-bottom: 40px;
	list-style: none;
}

button, input[type="submit"] {
	padding: 10px;
	background: orange;
	border-width: 0px;
	color: white;
}

button:disabled {
	opacity: 0.5;
}

section header {
	margin-bottom: 40px;
}

section, #big-header {
	padding: 20px;
}

ul {
	padding-left: 0px;
}
