



.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}


#section-watchlist li {
	padding: 0px;
	margin: 0px 4% 4% 0px;
	width: 140px;
}


#section-watchlist li button {
	width: 100%;
	margin-top: 10px;
}


#section-watchlist ul {
	text-align: center;
}


.main-content {
	color: gray;
}

#section-browse {
	background: black;
}

#section-browse form {
	margin-bottom: 2%;
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}
