

/*
TODO 2c (DONE)
Customize the .jumbotron class to have centered text instead of left-aligned
Also change its bottom margin to 1%
*/

.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}


/*
TODO 2h (DONE)
Give the Watchlist items some styles:
- a fixed width of 160px
- a little bit of margin on the bottom and right edges
- no padding
*/

#section-watchlist li {
	padding: 0px;
	margin: 0px 1% 1% 0px;
	width: 160px;
}


/*
TODO 2j (DONE)
The "I watched it" button should fill the entire width of its container, 
and should be 10px below the neighbor element above it
*/

#section-watchlist ul li button {
	width: 100%;
	margin-top: 10px;
}

/*
TODO 3c (DONE)
Apply text-align: center; to the watchlist
*/

#section-watchlist ul {
	text-align: center;
}	


.main-content {
	color: gray;
}

#section-browse {
	background: black;	
}

#section-browse form {
	margin-bottom: 2%;
}

hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}


/*
TODO 5 (DONE)
Delete everything else below! 
The Bootstrap classes have made this stuff no longer relevant
*/


