

/*
TODO 2c
Customize the .jumbotron class to have centered text instead of left-aligned
Also change its bottom margin to 1%
*/


/*
TODO 2h
Give the Watchlist items some styles:
- a fixed width of 160px
- a little bit of margin on the bottom and right edges
- no padding
*/


/*
TODO 2j
The "I watched it" button should fill the entire width of its container, 
and should be 10px below the neighbor element above it
*/


/*
TODO 3c
Apply text-align: center; to the watchlist
*/



.main-content {
	color: gray;
}

#section-browse {
	background: black;	
}

#section-browse form {
	margin-bottom: 2%;
}

hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}


/*
TODO 5
Delete everything else below! 
The Bootstrap classes have made this stuff no longer relevant
*/

ul {
	padding-left: 0px;
}

button:disabled {
	opacity: 0.5;
}

button, input[type="submit"] {
	padding: 10px;
	background: orange;
	border-width: 0px;
	color: white;
}

#section-browse li {
	margin-bottom: 40px;
	list-style: none;
}
