/*
DONE

Make the browse box red with white text, and no border

make buttons take up all the width of their container

add some margin in between the carousel an the "Add to Watchlist" button

clean up anything no longer in use
*/

.well {
	background: red;
	color: white;
	border-width: 0px;
}

.btn {
	width: 100%;
}

.jumbotron {
	background: gray;
	color: white;
}

#section-watchlist {
	color: gray;
	min-height: 300px;
}

#section-watchlist li {
	display: inline-block;
	width: 160px;
	margin: 10px;
	position: relative;
}

#section-watchlist button {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgba(0,0,0,0.7);
	color: white;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#section-watchlist button:hover {
	background: red;
	color: white;
}

.panel {
	margin: 0px;
}

.carousel {
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
}

img {
	width: 100%;
	border-radius: 4px;
}

ul {
	padding: 0px;
}

#section-browse {
	background: black;
}

header {
	margin-bottom: 40px;
	color: gray;
}

section, .jumbotron {
	padding: 20px;
}

.featurette-divider {
	margin: 60px;	
}

footer {
	text-align: center;
}