/*
TODO

Customize your bootstrap.

All images should take up the entire width of their container

<li>s inside the watchlist section should have a width of 160 pixels,
and should align side-by-side until hitting the edge of the page.

The "I watched it" buttons should fill the entire width of their containers


*/


.jumbotron {
	background: gray;
	color: white;
}

#section-watchlist {
	color: gray;
}

#section-watchlist li {
	display: inline-block;
	width: 160px;
	margin: 10px;
}

#section-watchlist button {
	width: 100%;
	margin-top: 10px;
}

ul {
	padding: 0;
	margin-top: 40px;
}

img {
	width: 100%;
}

#section-browse {
	background: black;
}

header {
	margin-bottom: 40px;
	color: gray;
}

section, .jumbotron, .list-group-item {
	padding: 20px;
}

.list-group-item {
	color: gray;
}