

.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}

#section-watchlist li {
	padding: 0px;
	margin: 0px 4% 4% 0px;
	width: 160px;
}

#browse-carousel {
	max-width: 300px;
	margin: auto;
}

#section-watchlist li button {
	width: 100%;
	margin-top: 10px;
}

#section-browse ul {
	padding-left: 0px;
}

.main-content {
	color: gray;
}

.well {
	background: red;
	color: white;
	border-width: 0px;
}

#section-browse {
	background: black;	
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}

#add-to-watchlist {
	width: 100%
}
