/*
TODO
Style the page as shown in the example.

Make good use of the developer tools:
-- on the example page, open up the inspector and poke around
-- on your own page, use dev tools to add and modify styles directly in the browser

*/


#big-header {
	background: gray;
	color: white;
}

#section-watchlist {
	color: gray;
}

#section-browse {
  background: black;
  color: white;
}

section, #big-header, #form-search {
	padding: 20px;
}

#form-search {
	margin-top: 40px;
}

#section-browse li {
	margin-bottom: 40px;
	list-style: none;
	border: 1px solid white;
	padding: 10px;
}

li h4 {
	margin-top: 0px;
}

ul {
	margin-top: 40px;
}